#panelleft{
  width: 300px;
  height: 500px;
  margin-left: 20px;
  background: #1987549f;
}

#panelright {
  width: 900px;
  height: 500px;
  margin-top: -500px;
  margin-left: 350px;
  background: #1987549f;
}

.list-group-item {
  background: 1987549f;
  
}

img {
  width: 22px;
  height: 22px;
}

.name-file {
  margin-top: -10px;
}

.ms-10 {
  margin-left: 100px;
}

textarea {
  height: 400px;
  resize: none;
}

textarea:active {
  border: none;
}

textarea::selection {
  background: #0b2010bb;
  color: rgb(82, 183, 82);
}

/* SCROLLBAR TEXT AREA  */

textarea::-webkit-scrollbar {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #065b0052;
  border-radius: 25px;
}
